@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat|Tangerine");
nav #top a h1, #bunn ul, .filter ul, main #blog .blog-container .blog h1, main #blog .blog-container .blog .img, main #blog .blog-container .blog p, main .innsatte h1 {
  margin: 0;
  padding: 0;
}

nav #top a span img, nav #top a, nav #top a h1 {
  height: 100%;
}

#bunn, main #sosial, main .row .display .bar, main .row .display .bar a {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

nav #top a span img {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 0;
  width: auto;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #565353;
  height: auto;
}
nav #top {
  background-color: #f8f8f8;
  height: 66.6666666667px;
}
nav #top a {
  display: block;
  text-decoration: none;
  color: black;
}
nav #top a:hover {
  color: #333;
}
nav #top a h1 {
  display: inline-block;
  vertical-align: middle;
}

#bunn {
  background-color: #565353;
  height: 33.3333333333px;
  z-index: 100;
  width: 100%;
}
#bunn ul {
  display: block;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-content: center;
}
#bunn ul li {
  display: block;
  list-style-type: none;
  width: auto;
  flex-basis: 17.5%;
  text-align: center;
}
#bunn ul li a {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  font-weight: bolder;
  font-size: 20px;
}
#bunn ul li a:hover {
  color: #aaa;
}

@media only screen and (min-width: 500px) {
  .navbar-fixed {
    position: fixed;
    top: 0;
  }
}

#slideshow {
  width: 100%;
  height: 465px;
  overflow: hidden;
  position: relative;
}
#slideshow .slide {
  position: absolute;
  visibility: visible;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}
#slideshow .slide .fade {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  height: 100%;
  background: white 20%;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, white 20%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, white 20%, rgba(255, 255, 255, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, white 20%, rgba(255, 255, 255, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0));
  /* Standard syntax */
  z-index: 81;
}
#slideshow .slide .background {
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
                       /*
background-image: url(../img/kopp.jpg);
background-position: 0% center;*/
}
#slideshow .slide .side {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: white;
  z-index: 85;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#slideshow .slide .side h2 {
  margin: 0;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
#slideshow .slide .side h1 {
  display: block;
  font-size: 40px;
  font-weight: bolder;
}
#slideshow .slide .side .a {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#slideshow .slide .side .a a {
  text-decoration: none;
  color: white;
  padding: 15px 45px;
  background-color: #ff5a00;
  border-radius: 50px;
  border-width: 2px;
  border-color: black;
  box-shadow: 0 0 40px 2px #282a2d;
  font-weight: bolder;
  font-size: 30px;
}
#slideshow .slide .side .a a:hover {
  color: #eee;
}
#slideshow .slide .side .a a:hover {
  background-color: #ff6613;
}
#slideshow .aktiv {
  z-index: 58;
}
#slideshow button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}
#slideshow svg {
  padding: 5px;
}
#slideshow .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
  z-index: 90;
}
#slideshow .left {
  left: 35px;
}
#slideshow .right {
  right: 10px;
}
#slideshow .left:hover polyline,
#slideshow .left:focus polyline {
  stroke-width: 3;
}
#slideshow .left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}
#slideshow .right:hover polyline,
#slideshow .right:focus polyline {
  stroke-width: 3;
}
#slideshow .right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}
#slideshow polyline {
  transition: all 250ms ease-in-out;
}

.filter {
  width: 100%;
  height: 40px;
  background-color: #565353;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter ul {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
.filter ul li {
  display: inline;
  list-style-type: none;
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
}

main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
main > div {
  margin: 6% 0;
  margin-top: 0;
}
main > div:nth-child(1) {
  margin-top: 6%;
}
main .innsatte {
  margin: 50px auto;
}
main #catogeries, main .row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
main #catogeries a, main .row a {
  text-decoration: none;
  color: white;
  width: 32%;
}
main #catogeries a:hover, main .row a:hover {
  color: white;
}
main #catogeries a:nth-child(2), main .row a:nth-child(2) {
  margin: 0 4%;
}
@media only screen and (max-width: 700px) {
  main #catogeries a, main .row a {
    width: 33%;
  }
  main #catogeries a:nth-child(2), main .row a:nth-child(2) {
    margin: 0 1%;
  }
}
main #catogeries a:nth-child(1) .catogery, main .row a:nth-child(1) .catogery {
  background-image: url(../img/tekstil.jpg);
  background-position: center;
  background-size: cover;
}
main #catogeries a:nth-child(2) .catogery, main .row a:nth-child(2) .catogery {
  background-image: url(../img/glass.jpg);
  background-position: center;
  background-size: cover;
}
main #catogeries a:nth-child(3) .catogery, main .row a:nth-child(3) .catogery {
  background-image: url(../img/annet.jpg);
  background-position: center;
  background-size: cover;
}
main #catogeries a .catogery, main .row a .catogery {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main #catogeries a .catogery:hover .overlay, main .row a .catogery:hover .overlay {
  opacity: 0.1;
}
main #catogeries a .catogery:hover h1, main .row a .catogery:hover h1 {
  text-shadow: 0 0 4px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
main #catogeries a .catogery .overlay, main .row a .catogery .overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.55;
  position: absolute;
  z-index: 9;
}
main #catogeries a .catogery h1, main .row a .catogery h1 {
  text-align: center;
  font-color: white;
  z-index: 10;
}
main #blog {
  width: 100%;
  position: relative;
}
main #blog .backB {
  position: absolute;
  height: 100%;
  width: 100%;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: #535353;
  z-index: -1;
}
main #blog h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
main #blog h1 a {
  text-decoration: none;
  color: #ccc;
}
main #blog h1 a:hover {
  color: #aaa;
}
main #blog .blog-container > div {
  margin-bottom: 20px;
}
main #blog .blog-container .blog {
  width: 100%;
  background-color: white;
  height: 108px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: white;
}
main #blog .blog-container .blog:hover {
  color: white;
}
main #blog .blog-container .blog a {
  z-index: 70;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
main #blog .blog-container .blog h1 {
  margin: 1% 0;
  color: black;
  text-align: center;
}
main #blog .blog-container .blog .img {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(http://via.placeholder.com/350x150);
  background-position: 0% center;
  background-size: contain;
  background-repeat: no-repeat;
}
main #blog .blog-container .blog p {
  width: 78%;
  float: right;
  color: black;
}
main #sosial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .innsatte h1 {
  text-align: center;
  font-size: 110px;
}
main .row {
  width: 100%;
}
main .row .display {
  position: relative;
  margin-right: 4%;
  background: pink;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  width: 32%;
      /*@media only screen and (max-width : 500px){
        width: (100%-$margin)/1;
      }

      @media only screen and (max-width : 690px){
        width: (100%-$margin)/2;
      }

      @media only screen and (min-width : 690px){
        width: (100%-$margin)/3;
      }*/
}
main .row .display:nth-child(3n+0) {
  margin-right: 0;
}
main .row .display a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
main .row .display .bar {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  top: auto;
  align-items: flex-start;
  flex-direction: row;
  background-color: #565353;
  justify-content: space-around;
  color: white;
}
main .row .display .bar h1 {
  margin: 0;
  top: 0;
  position: relative;
  margin-top: 6%;
  font-size: 24px;
}
main .row .display .bar a {
  width: 100%;
  height: 40%;
  bottom: 5%;
  top: auto;
}
main .row .display .bar a h2 {
  background-color: #ff5a00;
  border-radius: 30px;
  padding: 2% 30%;
  font-size: X-large;
  font-weight: bolder;
}
main .row .display .bar a h2:hover {
  background-color: #ff6613;
}

strong {
  font-weight: bolder;
  font-size: larger;
  color: #464141;
}

/*# sourceMappingURL=main.css.map */
