@import 'sass/partials';
@import 'sass/mixin';


$width: 100%;
$nav_h: 100px;
$fengG: #565353;

$media700: "only screen and (max-width : 700px)";

$mediaMax690: "only screen and (min-width : 690px)";
//for mindre enheter
$media690: "only screen and (max-width : 690px)";
//mobile
$media500: "only screen and (max-width : 500px)";
$mediaMax500: "only screen and (min-width : 500px)";

body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.dropdown {
  position: absolute;
  visibility: hidden;
  display: block;
  z-index: 93;
  text-align: center;
  width: 100%;
}

.cont {
  height: 33.3px;
  display: flex;
  align-items: center;
}

//hamburger
.wrapper-menu {
  margin-right: 17px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: black;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
//end hamburgfer

nav {
  background-color: #565353;
  height: auto;

  #top {
    background-color: #f8f8f8;
    height: $nav_h*2 / 3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: inline-block;
      @extend %fullH;
      @include removeLink(black, #333);


    }

    .img {
      width: auto;
      height: 100%;
      display: inline-block;
      margin-left: 2%;

      img{
        @extend %logo;
      }
    }

    h1 {
      display: inline-block;
      @extend %reset;
      @extend %fullH;
      vertical-align: middle;
    }

    .dropdown {
      top: 100%;
      background-color: #f8f8f8;
    }

    .cont {
      color: black;
    }


    li {
      white-space: nowrap;


    }

    .cont {
      a{
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
      }
    }

    .link {
      background-color: #ff5a00;

      a {
        @include removeLink(white, #eee);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  ul{
    display: block;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;

    align-content: center;
    @extend %reset;



    li{
      $ulW: 70%;
      display: block;
      list-style-type: none;
      width: auto;
      flex-basis: $ulW / 4;
      text-align: center;
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;

      img {
        width: auto;
        height: 33px;
      }

      a , p{
        display: block;
        @include removeLink(white, #aaa);
        width: 100%;
        color: white;

        font:{
          weight: bolder;
          size: 20px;
        }

      }

      p {
        margin: 0;
      }





    }


    li:hover {
      color: #aaa;

      .dropdown {
        visibility: visible;
        background-color: $fengG;
      }
    }

  }

}

.dmenu {
  z-index: 110;
  display: none;
  position: absolute;
  width: 100%;
  top:1;
  background-color: #fengG;

  ul {
    display: block;
    color: white;
    list-style: none;

    li {
      display: block;
      width: 100%;
      background-color: $fengG;
    }
  }

  .cont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      li {
        width: 33%;
        white-space: nowrap;
      }
  }
}

.oppe {
  display: block;
}

@media #{$media500}{
  #top ul {
    display: none;
  }


}

@media #{$mediaMax500}{

  .wrapper-menu {
    display: none;
  }


}


#bunn {
  background-color: #565353;
  height: $nav_h*1/3;
  @extend %flexCenter;
  z-index: 100;
  width: 100%;

  @media #{$media500}{
    display: none;
  }


  ul{
    $ulW: 70%;
    display: block;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $ulW;

    align-content: center;
    @extend %reset;



    li{
      display: block;
      list-style-type: none;
      width: auto;
      flex-basis: $ulW / 4;
      text-align: center;
      position: relative;

      a , p{
        display: block;
        @include removeLink(white, #aaa);
        width: 100%;
        color: white;

        font:{
          weight: bolder;
          size: 20px;
        }

      }

      p {
        margin: 0;
      }





    }


    li:hover {
      color: #aaa;

      .dropdown {
        visibility: visible;
        background-color: $fengG;
      }
    }

  }
}

.navbar-fixed {
  @media #{$mediaMax500}{
    position: fixed;
    top:0;
  }
}


#slideshow {
  width: $width;
  height: 565px - $nav_h;
  overflow: hidden;
  position: relative;

  .slide {
    position: absolute;
    visibility: visible;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 50;

    $textWidth: 40%;
    .fade {
      position: absolute;
      top: 0;
      left: $textWidth;
      width: 20%;
      height: 100%;
      @include gradient(rgba(255,255,255, 1) $textWidth - 20%, rgba(255,255,255,0));
      z-index: 81;
    }

    .background {
      position: absolute;
      top: 0;
      left: $textWidth;
      height: 100%;
      width: 100% - $textWidth;
      background-repeat: no-repeat;
      background-size: cover;/*
      background-image: url(../img/kopp.jpg);
      background-position: 0% center;*/
    }

    .side{
      position: absolute;
      top: 0;
      height: 100%;
      width: $textWidth;
      background-color: white;
      z-index: 85;

      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
        flex-basis: 20%;

        display: flex;
        justify-content: center;
        flex-direction: column;

        font:{
          size: 30px;
        }
      }

      h1 {
        display: block;

        font:{
          size: 40px;
          weight: bolder;
        }
      }

      .a{
        flex-basis: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;


        a {
          @include removeLink(white, #eee);
          padding: 15px 45px;
          background-color: #ff5a00;
          border-radius: 50px;
          border:{
            width: 2px;
            color: black;
          }
          box-shadow: 0 0 40px 2px #282a2d;


          font:{
            weight: bolder;
            size: 30px;
          }

          &:hover {
            background-color: #ff6613;
          }
      }
    }
    }
  }

  .aktiv {
    z-index: 58;
  }

  button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  }

  svg {
    padding: 5px;
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
    z-index: 90;
  }

  .left {
    left: 35px;
  }

  .right {
    right: 10px;
  }

  .left:hover polyline,
  .left:focus polyline {
    stroke-width: 3;
  }

  .left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }

  .right:hover polyline,
  .right:focus polyline {
    stroke-width: 3;
  }

  .right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }

  polyline {
    transition: all 250ms ease-in-out;
  }

}

.filter {
  width: 100%;
  height: 40px;
  background-color: $fengG;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  ul{
    @extend %reset;
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;

    li{
      display: inline;
      list-style-type: none;
      color: white;
      cursor: pointer;

      font:{
        size: larger;
        weight: bolder;
      }
    }
  }
}



main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;

  $space: 6%;
  > div {
    margin: $space 0;
    margin-top: 0;

    &:nth-child(1){
      margin-top: $space;
    }
  }

  .innsatte{
    margin: 50px auto;
  }

  #catogeries {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    @media #{$media500}{
      flex-direction: column;
    }

    a{
      $margin: 4%;

      @include removeLink(white);
      width: (100%-$margin)/3;

      &:nth-child(2) {
        margin: 0 $margin;
      }

      @media #{$mediaMax690}{
        $margin: 1%;
        &:nth-child(2) {
          margin: 0 $margin;
        }
        width: (100%-$margin)/3;
      }

      @media #{$media500}{
        width: 100%;
        &:nth-child(2) {
          margin: 0 0;
        }
      }

      /*&:nth-child(1) .catogery{
      @include background('../img/tekstil.jpg', center, cover);
      }

      &:nth-child(2) .catogery{
        @include background('../img/glass.jpg', center, cover);
      }

      &:nth-child(3) .catogery{
        @include background('../img/annet.jpg', center, cover);
      }*/

      .catogery {
        $side: 200px;
        width: 100%;
        min-width: $side;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover {
          .overlay {
            opacity: 0.1;
          }

          h1 {
            text-shadow: 0 0 4px black;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }
        }

        .overlay {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgb(0,0,0);
          opacity: 0.55;
          position: absolute;
          z-index: 9;
        }

        h1 {
          text-align: center;
          font:{
            color: white;
          }

          z-index: 10;

        }
      }
    }
  }

  #blog {
    width: 100%;
    position: relative;

    .backB {
      position: absolute;
      height: 100%;
      width: 100%;
      width: 100vw;
      top:0;
      right: 0;
      background-color: #535353;
      z-index: -1;
    }

    h1 {
      color: white;
      text-align: center;
      margin-bottom: 20px;

      a{
        @include removeLink(#ccc, #aaa);
      }
    }

    .blog-container {
      > div {
        margin-bottom: 20px;
      }

      .blog {
        width: 100%;
        background-color: white;
        height: 108px;
        overflow: hidden;
        position: relative;
        display: flex;
        @include removeLink(white);

        a {
          z-index: 70;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
        }

        h1{
          @extend %reset;
          margin: 1% 0;
          color: black;
          text-align: center;
        }

        $widthP: 80%;
        .img {
          @extend %reset;
          width:100% - $widthP;
          height: 100%;
          position: relative;
          top: 0;
          left: 0;
          margin: 0;

          @include background('http://via.placeholder.com/350x150', 0% center, contain);
          background-repeat: no-repeat;
        }

        .info {
          width: $widthP;
        }

        p{
          @extend %reset;
          width: 90%;
          text-align: left;
          color: black;
        }
      }
    }
  }

  #sosial {
    display: flex;
    @extend %flexCenter;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .innsatte {
    h1 {
      @extend %reset;
      text-align: center;
      font:{
        size: 110px;
      }
    }
  }

  .row {
    $margin: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;

    >div {
      margin-bottom: $margin;
    }

    .display {
      position: relative;
      margin-right: $margin;
      background: pink;
      flex-direction: column;
      flex-wrap: wrap;
      /*height: 400px;*/
      width: (100%-$margin - 4%)/3;


      &:nth-child(3n+0){
        margin-right: 0;
      }

      $barHeight: 30%;
      .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100% - $barHeight;
      }

      a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 80;

      }

      .bar {
        position: absolute;
        width: 100%;
        height: $barHeight;
        bottom: 0;
        top: auto;
        @extend %flexCenter;
        align-items: flex-start;
        flex-direction: row;
        background-color: $fengG;
        justify-content: space-around;
        color: white;

        h1{
          margin: 0;
          top: 0;
          position: relative;
          margin-top: 6%;
          font:{
            size: 24px;
          }
        }

        a{
          width: 100%;
          height: 40%;
          bottom: 5%;
          top: auto;
          @extend %flexCenter;
          @include removeLink(white);



          h2{
            background-color: #ff5a00;
            border-radius: 30px;
            padding: 2% 25%;
            font-size: X-large;
            font-weight: bolder;
            white-space: nowrap;
            &:hover {
              background-color: #ff6613;
            }
          }

        }
      }
    }
  }
}

footer {

}

strong {
  font:{
    weight: bolder;
    size: larger;
  }
  color: #464141;
}

.product-detail {
  display: flex;
  flex-wrap: wrap;

  .img {
    width: 60%;
    max-height: 600px;
    position: relative;
  }

  img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    visibility: hidden;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
  }

  img:nth-child(1) {
    position: relative;
  }

  .show {
    visibility: visible;
  }

  .panel {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $fengG;
    color: white;
    min-height: 400px;

    justify-content: space-around;

    a {
      @include removeLink(white, #eee);
    }
  }


  .des {
    width: 100%;

    p {
      width: 100%;
      text-align: center;
    }
  }

  .cart {
    a {
      font-size: x-large;
      text-decoration: none;
      color: white;
      padding: 15px 45px;
      background-color: #ff5a00;
      border-radius: 50px;
      border-width: 2px;
      border-color: black;
      box-shadow: 0 0 40px 2px #282a2d;
      font-weight: bolder;
    }
  }
}

.blogger {
  margin: 0;
  margin-top: 0;

  .blog {
    background: #f8f8f8;
    margin: 2% 0;
  }

  .img {
    width: 30%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  img {
    width: 100%;
  }

  .info {
    position: relative;
    width: 60%;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  p {
    width: 100%;
    margin: 34px 0;
    padding-left: 28px;
  }

  a{
    display: inline-block;
    text-decoration: none;
    color: black;
    display: flex;
    position: relative;
    flex-direction: row;
  }
}

table {
  a {
    display: inline-block;
  }
  td {
    width: 20%;
    position: relative;
  }

  img {
    width: 100%;
  }
}

.blogg-datail {
  h1 {
    text-align: center;
    width: 100%;
    font-size: 4em;
  }

  img {
    max-width: 100%;
    max-height: 540px;
    display: block;
    margin: 0 auto;
  }

  .date {
    font-size: small;
  }
}

.cart {
  .item {
    position: relative;
    display: flex;
    max-height: 300px;
    background-color: #f8f8f8;
    margin-bottom: 2em;

    a {
      z-index: 4;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .img {
      max-width: 430px;
      max-height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .panel {
      justify-content: space-around;
      flex-wrap: wrap;
      display: flex;
      width: 100%;
    }

    h2 {
      flex-basis: 100%;
      text-align: center;
    }

    .tek {
      color: #f00;
      width: 100%;
      text-align: center;
    }

    form {
      z-index: 6;

      input {
        z-index: 6;
        background: black;
        color: white;
        border: none;
        width: 8em;
        height: 2em;
        margin-bottom: 1em;
      }
    }
  }

  .sum {
    background-color: #f8f8f8;
    text-align: right;
    padding: 1em 6em;
  }


}

@media #{$media500}{

  .cart .item {
    flex-direction: column;
    max-height: 600px !important;
  }

  .sum {
    padding: 1em 1.5em !important;
  }


  .slide {
    .side {
      width: 50%;
    }

    .fade {
      width: 10%;
    }

    .background {
      width: 50%;
    }
  }

  main {
    width: 96%;
  }

  main .innsatte h1 {
    font-size: 60px;
  }


  main #blog .blog-container .blog p {
    width: 100%;
  }

  main .row .display {
    width: 48%;
    margin-right: 0;

    &:nth-child(2n-1){
      margin-right: 4%;
    }
  }

  .product-detail {
    .img {
      width: 100%;
    }

    .panel {
      flex-basis: 100%;
    }
  }

  #slideshow .slide .side .a a {
    padding: 13px 15px;
  }

  #slideshow {
    height: 510px;

    .slide {
      height: 440px;
    }

    .arrow {
      position: absolute;
      top: 470px;
    }
  }
}
