<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="main.css">-->
	{% load static %}
	  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}Fengslende Gaver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    {% block head %}
    {% endblock %}

  </head>
  <body>
    <nav>
      {% load cat %}
      {% load carton_tags %}
      {% get_cart as cart %}


      <div id="top">
          <div class="img">
            <a href="{% url 'home:home_page' %}">
              <img src="{% static 'img/gave_logo.png' %}" alt="Logoen til fengslende gaver" width="auto" height="auto">
            </a>
          </div>

          <ul>
            <li><a href="{% url 'shop:product_list' %}">Butikk</a></li>

            <li><a href="{% url 'blog:alle_blogger' %}">Blogg</a></li>

            <li>
              <img src="{% static 'img/cart.svg' %}" alt="En handlekurv" width="auto" height="auto">
            <div class="dropdown">
              {% for item in cart.items %}
              <ul class="cont">
                  <li>{{ item.product.name }}</li>
                  <li>{{ item.quantity }} stk</li>
                  <li>{{ item.subtotal }} kr</li>
                  <a href="{{ item.product.get_absolute_url }}"></a>
                </ul>
              {% endfor %}
              <ul class="cont link">
                <a href="{% url 'home:show' %}">Gå til handlekurven</a>
              </ul>
          </div>
          </li>
        </ul>

        <div class="wrapper-menu">
          <div class="line-menu half start"></div>
          <div class="line-menu"></div>
          <div class="line-menu half end"></div>
        </div>
      </div>

      <div class="dmenu">
        <ul>
          <li><a href="{% url 'shop:product_list' %}">Butikk</a></li>

          <li><a href="{% url 'blog:alle_blogger' %}">Blogg</a></li>

          <li>
            <img src="{% static 'img/cart.svg' %}" alt="En handlekurv" width="auto" height="auto">
          <div class="dropdown">
            {% for item in cart.items %}
            <ul class="cont">
                <li>{{ item.product.name }}</li>
                <li>{{ item.quantity }} stk</li>
                <li>{{ item.subtotal }} kr</li>
                <a href="{{ item.product.get_absolute_url }}"></a>
              </ul>
            {% endfor %}
            <ul class="cont link">
              <a href="{% url 'home:show' %}">Gå til handlekurven</a>
            </ul>
        </div>
        </li>
      </ul>

      </div>

    </nav>

    <div id="bunn">

        <ul>
          <li><a href="{% url 'shop:product_list_by_category' 'tekstil' %}">Tekstil</a></li>
          <li><a href="{% url 'shop:product_list_by_category' 'glass' %}">Glass</a></li>
          <li><a href="{% url 'shop:product_list_by_category' 'smykker' %}">Smykker</a></li>
          <li><p>Annet</p>

            {% cat %}
          </li>
          {% block navbar %}{% endblock %}
        </ul>
      </div>

    {% block body %}{% endblock %}

    <main>
    {% block main %}{% endblock %}
    </main>
    <!-- place footer here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'scipt.js' %}"></script>
    <script>
    var wrapperMenu = document.querySelector('.wrapper-menu');
    var dmenu = document.querySelector('.dmenu');

    wrapperMenu.addEventListener('click', function(){
      wrapperMenu.classList.toggle('open');
      dmenu.classList.toggle('oppe');
    })
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
