{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ blogg.tittel }} |
{% endblock %}

{% block main %}
  <div class="blogg-datail">
    <h1>{{ blogg.tittel }}</h1>
    <img src="{% if blogg.bilde %}{{ blogg.bilde.url }}{% endif %}" alt="blogg bilde">
    <p class="date">{{ blogg.laget }}</p>
    <strong>{{ blogg.ingress|safe }}</strong>
    {{ blogg.hoveddel|safe|linebreaks }}
  </div>
{% endblock %}

<!--<form action="{% url "cart:cart_add" product.id %}" method="post">
  {{ cart_product_form }}
  {% csrf_token %}
  <input type="submit" value="Add to cart">
</form>-->
