{% extends 'base.html' %}
{% load static %}

{% block title %}
  Handlekurv |
{% endblock %}

{% block main %}
  {% load carton_tags %}
  {% get_cart as cart %}

  <div class="cart">

  {% for item in cart.items %}
  <div class="item">

        <a href="{{ item.product.get_absolute_url }}">
        </a>
        <div class="img">

          <img src="{% if item.product.image %}{{ item.product.image.url }}{% endif %}" alt="product bilde">
        </div>

      <div class="panel">

        <h2>{{ item.product.name }}</h2>
        <p>{{ item.price }} kr hver</p>
        <p>{{ item.quantity }} stk</p>
        <p>{{ item.subtotal }} kr</p>
        {% if item.product.stock >=  item.quantity  %} <p class="tek" style="color: #0f0;">nok på lager</p>{% else %}<p class="tek" style="color: #f00;">Vi har kun {{item.product.stock}}</p>{% endif %}
        <form action="{% url 'home:remove' %}" method="get">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ item.product.id }}">
          <input type="submit" name="fjern" value="fjern">
        </form>
      </div>
    </div>

  {% endfor %}
  <div class="sum">
    Sum: {{ total }} kr

  </div>
  </div>

{% endblock %}
