{% extends 'base.html' %}
{% load static %}

{% block head %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block body %}
<div id="slideshow">
  <button class="arrow left" onclick="slideButton(-1)">
    <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
      <polyline fill="none" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
    45.63,75.8 0.375,38.087 45.63,0.375 "/>
    </svg>
    </button>

  <button class="arrow right" onclick="slideButton(1)">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
      <polyline fill="none" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
    0.375,0.375 45.63,38.087 0.375,75.8 "/>
    </svg>
    </button>

  {% for show in slide %}
  <div class="slide">
    <span class="background" style="background-image: url({{ show.produkt.image.url }});
    background-position: {% if show.x %}{{ show.x }}%{% endif %} {% if show.y %}{{ show.y }}%{% endif %};
    background-size: {% if show.storrelse %}{{ show.storrelse }}%{% endif %};"></span>
    <div class="fade"></div>

    <div class="side">
      <h2>{{ show.produkt.name }}</h2>
      <h1>{{ show.produkt.price }} kr</h1>
      <div class="a">
        <a href="{{ show.produkt.get_absolute_url }}">
          Kjøp Nå
        </a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}

{% block main %}
<div id="catogeries">
  <a href="{% url 'shop:product_list_by_category' 'tekstil' %}">
    <div class="catogery" style="background-image: url({% static '/img/tekstil.jpg' %});background-position: center;background-size: cover;">
      <div class="overlay"></div>
      <h1>Tekstil</h1>
    </div>
  </a>
  <a href="{% url 'shop:product_list_by_category' 'glass' %}">
    <div class="catogery" style="background-image: url({% static '/img/glass.jpg' %});background-position: center;background-size: cover;">
      <div class="overlay"></div>
      <h1>Glass</h1>
    </div>
  </a>
  <a href="{% url 'shop:product_list' %}">
    <div class="catogery" style="background-image: url({% static '/img/annet.jpg' %});background-position: center;background-size: cover;">
      <div class="overlay"></div>
      <h1>Butikk</h1>
    </div>
  </a>
</div>

<div id="blog">
  <span class="backB"></span>
  <h1>Siste nytt fra <a href="{% url 'blog:alle_blogger' %}">bloggen</a></h1>

  <div class="blog-container">
  {% for art in blogg %}
    <div class="blog">
      <a href="{{ art.get_absolute_url }}"></a>
      <div class="img" {% if art.bilde %}
      style="background-image: url({{ art.bilde.url }});" {% endif %}></div>
      <div class="info">

      <h1>{{ art.tittel }}</h1>
      <p>{{ art.ingress|safe }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<div id="sosial"><!--
  <div class="fb-page" data-href="https://www.facebook.com/Fengslende-Gaver-UB-1465302110243315/?fref=ts" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Fengslende-Gaver-UB-1465302110243315/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Fengslende-Gaver-UB-1465302110243315/?fref=ts">Fengslende Gaver UB</a></blockquote></div>-->
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFengslende-Gaver-UB-1465302110243315%2F%3Ffref%3Dts&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBredtveit%2F%3Ffref%3Dts&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'slideshow.js' %}"></script>
{% endblock %}
