{% extends 'base.html' %}
{% load static %}

{% block title %}
  Betaling |
{% endblock %}

{% block head %}
<script src="https://js.stripe.com/v2/"></script>
<script>
  Stripe.publishable = '{{ publishable }}';
</script>
<script src="{% static 'app.js' %}" charset="utf-8"></script>
{% endblock %}

{% block main %}
<form id='user' method="post" action="{% url 'strpay.views.register'}">
  {% csrf_token %}
  <noscript>
    &lt:p&gt;
    Trenger JavaScript!
      &lt:/p&gt;
  </noscript>

  {{ form.non_field_errors }}
  {{ form.field_errors }}

  <input type="text" id="full_name" name="full_name" placeholder="Fornavn">
  <input type="text" id="etter_name" name="etter_name" placeholder="EtterNavn">
  <input type="text" name="email" placeholder="Email">
  {{form.stripe_id.as_hidden}}
  <input type="submit" value="submit">
</form>

{% endblock %}
