{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ product.name }} |
{% endblock %}

{% block main %}
  <div class="product-detail">
    <div class="img">
      <img class="show" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="product bilde">
      {% if image %}
        {% for im in image %}
        <img src="{{ im.image.url }}" alt="product bilde">
        {% endfor %}
      {% endif %}
    </div>

    <div class="panel">

      <h1>{{ product.name }}</h1>
      <div class="des">
        {{ product.description|safe|linebreaks }}
      </div>

      <p class="price">{{ product.price }} kr</p>
      <h2><a href="{{ product.category.get_absolute_url }}">Kategori: {{ product.category }}</a></h2>

      <div class="cart">
        <a href="{{ product.get_cart_url }}">Legg til i Handlekurven</a>
      </div>
    </div>

  </div>
{% endblock %}

<!--<form action="{% url "cart:cart_add" product.id %}" method="post">
  {{ cart_product_form }}
  {% csrf_token %}
  <input type="submit" value="Add to cart">
</form>


<form action="{% url "shop:add" %}" method="get">
  {% csrf_token %}
  <input type="number" name="product_id" value="{{ product.id }}">
  <input type="submit" value="Add to cart">
</form>-->
