{% extends 'base.html' %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }} | {% else %}Butikk | {% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'slide.css' %}">
{% endblock %}

{% block main %}
<div class="innsatte">
  <h1>Gaver av <strong>Innsatte</strong></h1>
</div>


<!--
<div class="filter">
  <ul>
    <li>Pris
      <p>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>

      <div id="slider-range">
      </div>
    </li>
    <li>Sorter</li>
  </ul>
</div>-->

<div class="row">


  {% for prod in products %}
  <div class="display">
    <a href="{{ prod.get_absolute_url }}"></a>
    <span class="img" {% if prod.image %} style="background-image: url({{ prod.image.url }});background-size:cover;background-position: 4% center;"{% endif %}></span>
    <div class="bar">
      <h1>{{ prod.name }}</h1>
      <h1 class="price">{{ prod.price }} kr</h1>
      <a href="{{ prod.get_absolute_url }}">
        <h2>Kjøp Nå</h2></a>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
              console.log(ui.values[ 1 ], ui.values[ 0 ]);
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );


  } );
</script>
{% endblock %}
