{% extends "admin/base.html" %}
{% load admin_static %}

{% block title %}{{ title }} | Fengslende Gaver{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Fengslende Gaver</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
<style>

  #header, caption {
    background-color: #565353;
  }

  input[type=submit], input[type=button], .submit-row input, a.button {
    background: #565353;
  }

  #branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffffff;
  }

  .module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #565353;
  }

  div.breadcrumbs {
    background: #ff7a00;
  }

</style>
{% endblock %}

{% block bodyclass %}flat-theme{% endblock %}


{% block blockbots %}
  {{ block.super }}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}" />
{% endblock %}
