// a tag
@mixin removeLink($color, $hover:$color) {
  text-decoration: none;
  color: $color;

  &:hover {
    color: $hover;
  }
}

//background
@mixin background($img, $pos:center, $size:cover) {
  background-image: url(#{$img});
  background-position: $pos;
  background-size: $size;
}

@mixin gradient($color1, $color2:$color1, $direction:right, $opp:left) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($opp, $color1 , $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($direction, $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($direction, $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to $direction, $color1 , $color2); /* Standard syntax */
}
