%reset {
  margin: 0;
  padding: 0;
}

//height
%fullH {
  height: 100%;
}

//flex
%flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

//img
//Logo
%logo {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 0;
  @extend %fullH;
  width: auto;
}
