nav #top h1, nav ul, #bunn ul, .filter ul, main #blog .blog-container .blog h1, main #blog .blog-container .blog .img, main #blog .blog-container .blog p, main .innsatte h1 {
  margin: 0;
  padding: 0;
}

nav #top .img img, nav #top a, nav #top h1 {
  height: 100%;
}

#bunn, main #sosial, main .row .display .bar, main .row .display .bar a {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

nav #top .img img {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 0;
  width: auto;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

.iconCart, .wrapperWrapper {
  display: inline-block;
  position: relative;
}

icon {
  position: absolute;
  color: white;
  right: -15px;
  background-color: #ff5a00;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #565353;
  bottom: 0;
  color: white;
  padding: 1px 4em;
  max-width: 100vw;
  box-sizing: border-box;
}
footer .list {
  display: flex;
  align-content: start;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer h2, footer h3, footer h4 {
  text-align: center;
}
footer ul {
  list-style-type: none;
  padding: 0 20px;
}
footer ul h3 {
  padding: 0;
  margin: 0;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  color: white;
}

.dropdown {
  position: absolute;
  visibility: hidden;
  display: block;
  z-index: 93;
  text-align: center;
  width: 500px;
  right: 6px;
}

.cont {
  height: 33.3px;
  display: flex;
  align-items: center;
}

.wrapperWrapper {
  margin-right: 17px;
}

.wrapper-menu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: black;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

nav {
  background-color: #565353;
  height: auto;
}
nav #top {
  background-color: #f8f8f8;
  height: 66.6666666667px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav #top a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
nav #top a:hover {
  color: #333;
}
nav #top .img {
  width: auto;
  height: 100%;
  display: inline-block;
  margin-left: 2%;
}
nav #top h1 {
  display: inline-block;
  vertical-align: middle;
}
nav #top .dropdown {
  top: 100%;
  background-color: #f8f8f8;
}
nav #top .cont {
  color: black;
}
nav #top li {
  white-space: nowrap;
}
nav #top .cont a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
nav #top .link {
  background-color: #ff5a00;
}
nav #top .link a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #top .link a:hover {
  color: #eee;
}
nav ul {
  display: block;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-content: center;
}
nav ul li {
  display: block;
  list-style-type: none;
  width: auto;
  flex-basis: 17.5%;
  text-align: center;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
}
nav ul li img {
  width: auto;
  height: 33px;
}
nav ul li a, nav ul li p {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
nav ul li a:hover, nav ul li p:hover {
  color: #aaa;
}
nav ul li p {
  margin: 0;
}
nav ul li:hover {
  color: #aaa;
}
nav ul li:hover .dropdown {
  visibility: visible;
  background-color: #565353;
}

.dmenu {
  z-index: 110;
  display: none;
  position: absolute;
  width: 100%;
  top: 1;
  background-color: #fengG;
}
.dmenu ul {
  display: block;
  color: white;
  list-style: none;
}
.dmenu ul li {
  display: block;
  width: 100%;
  background-color: #565353;
  padding-bottom: 6px;
}
.dmenu .cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dmenu .cont a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.dmenu .cont li {
  width: 33%;
  white-space: nowrap;
}

.oppe {
  display: block;
}

@media only screen and (max-width: 500px) {
  #top ul {
    display: none;
  }
}
@media only screen and (min-width: 500px) {
  .wrapper-menu {
    display: none;
  }

  .wrapperWrapper {
    display: none;
  }
  .wrapperWrapper icon {
    display: none;
  }
}
#bunn {
  background-color: #565353;
  height: 33.3333333333px;
  z-index: 100;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  #bunn {
    display: none;
  }
}
#bunn ul {
  display: block;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-content: center;
}
#bunn ul li {
  display: block;
  list-style-type: none;
  width: auto;
  flex-basis: 17.5%;
  text-align: center;
  position: relative;
}
#bunn ul li a, #bunn ul li p {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
#bunn ul li a:hover, #bunn ul li p:hover {
  color: #aaa;
}
#bunn ul li p {
  margin: 0;
}
#bunn ul li:hover {
  color: #aaa;
}
#bunn ul li:hover .dropdown {
  visibility: visible;
  background-color: #565353;
}

@media only screen and (min-width: 500px) {
  .navbar-fixed {
    position: fixed;
    top: 0;
  }
}

#slideshow {
  width: 100%;
  height: 465px;
  overflow: hidden;
  position: relative;
}
#slideshow .slide {
  position: absolute;
  visibility: visible;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}
#slideshow .slide .fade {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  height: 100%;
  background: white 20%;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, white 20%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, white 20%, rgba(255, 255, 255, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, white 20%, rgba(255, 255, 255, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0));
  /* Standard syntax */
  z-index: 81;
}
#slideshow .slide .background {
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
                       /*
background-image: url(../img/kopp.jpg);
background-position: 0% center;*/
}
#slideshow .slide .side {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: white;
  z-index: 85;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#slideshow .slide .side h2 {
  margin: 0;
  flex-basis: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
#slideshow .slide .side h1 {
  display: block;
  font-size: 40px;
  font-weight: bolder;
}
#slideshow .slide .side .a {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#slideshow .slide .side .a a {
  text-decoration: none;
  color: white;
  padding: 15px 45px;
  background-color: #ff5a00;
  border-radius: 50px;
  border-width: 2px;
  border-color: black;
  box-shadow: 0 0 40px 2px #282a2d;
  font-weight: bolder;
  font-size: 30px;
}
#slideshow .slide .side .a a:hover {
  color: #eee;
}
#slideshow .slide .side .a a:hover {
  background-color: #ff6613;
}
#slideshow .aktiv {
  z-index: 58;
}
#slideshow button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}
#slideshow svg {
  padding: 5px;
}
#slideshow .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
  z-index: 90;
}
#slideshow .left {
  left: 35px;
}
#slideshow .right {
  right: 10px;
}
#slideshow .left:hover polyline,
#slideshow .left:focus polyline {
  stroke-width: 3;
}
#slideshow .left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}
#slideshow .right:hover polyline,
#slideshow .right:focus polyline {
  stroke-width: 3;
}
#slideshow .right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}
#slideshow polyline {
  transition: all 250ms ease-in-out;
}

.filter {
  width: 100%;
  height: 40px;
  background-color: #565353;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter ul {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
.filter ul li {
  display: inline;
  list-style-type: none;
  color: white;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
}

main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
main > div {
  margin: 6% 0;
  margin-top: 0;
}
main > div:nth-child(1) {
  margin-top: 6%;
}
main .innsatte {
  margin: 50px auto;
}
main #catogeries {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
@media only screen and (max-width: 500px) {
  main #catogeries {
    flex-direction: column;
  }
}
main #catogeries a {
  text-decoration: none;
  color: white;
  width: 32%;
      /*&:nth-child(1) .catogery{
      @include background('../img/tekstil.jpg', center, cover);
      }

      &:nth-child(2) .catogery{
        @include background('../img/glass.jpg', center, cover);
      }

      &:nth-child(3) .catogery{
        @include background('../img/annet.jpg', center, cover);
      }*/
}
main #catogeries a:hover {
  color: white;
}
main #catogeries a:nth-child(2) {
  margin: 0 4%;
}
@media only screen and (min-width: 690px) {
  main #catogeries a {
    width: 33%;
  }
  main #catogeries a:nth-child(2) {
    margin: 0 1%;
  }
}
@media only screen and (max-width: 500px) {
  main #catogeries a {
    width: 100%;
  }
  main #catogeries a:nth-child(2) {
    margin: 0 0;
  }
}
main #catogeries a .catogery {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main #catogeries a .catogery:hover .overlay {
  opacity: 0.1;
}
main #catogeries a .catogery:hover h1 {
  text-shadow: 0 0 4px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
main #catogeries a .catogery .overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.55;
  position: absolute;
  z-index: 9;
}
main #catogeries a .catogery h1 {
  text-align: center;
  font-color: white;
  z-index: 10;
}
main #blog {
  width: 100%;
  position: relative;
}
main #blog .backB {
  position: absolute;
  height: 100%;
  width: 100%;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: #535353;
  z-index: -1;
}
main #blog h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
main #blog h1 a {
  text-decoration: none;
  color: #ccc;
}
main #blog h1 a:hover {
  color: #aaa;
}
main #blog .blog-container > div {
  margin-bottom: 20px;
}
main #blog .blog-container .blog {
  width: 100%;
  background-color: white;
  height: 108px;
  overflow: hidden;
  position: relative;
  display: flex;
  text-decoration: none;
  color: white;
}
main #blog .blog-container .blog:hover {
  color: white;
}
main #blog .blog-container .blog a {
  z-index: 70;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
main #blog .blog-container .blog h1 {
  margin: 1% 0;
  color: black;
  text-align: center;
}
main #blog .blog-container .blog .img {
  width: 20%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  background-image: url(http://via.placeholder.com/350x150);
  background-position: 0% center;
  background-size: contain;
  background-repeat: no-repeat;
}
main #blog .blog-container .blog .info {
  width: 80%;
}
main #blog .blog-container .blog p {
  width: 90%;
  text-align: left;
  color: black;
}
main #sosial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .innsatte h1 {
  text-align: center;
  font-size: 110px;
}
main .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
}
main .row > div {
  margin-bottom: 4%;
}
main .row .display {
  position: relative;
  margin-right: 4%;
  background: #565353;
  flex-direction: column;
  flex-wrap: wrap;
  /*height: 400px;*/
  width: 30.6666666667%;
}
main .row .display:nth-child(3n+0) {
  margin-right: 0;
}
main .row .display .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70%;
}
main .row .display a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
}
main .row .display .bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: auto;
  align-items: flex-start;
  flex-direction: row;
  background-color: #565353;
  justify-content: space-around;
  color: white;
  padding-bottom: 28%;
  height: auto;
}
main .row .display .bar h1 {
  margin: 0;
  top: 0;
  position: relative;
  margin-top: 6%;
  font-size: 24px;
}
main .row .display .bar a {
  width: 100%;
  height: 40%;
  bottom: 0;
  top: auto;
  text-decoration: none;
  color: white;
}
main .row .display .bar a:hover {
  color: white;
}
main .row .display .bar a h2 {
  background-color: #ff5a00;
  border-radius: 30px;
  padding: 2% 25%;
  font-size: X-large;
  font-weight: bolder;
  white-space: nowrap;
}
main .row .display .bar a h2:hover {
  background-color: #ff6613;
}

strong {
  font-weight: bolder;
  font-size: larger;
  color: #464141;
}

.product-detail {
  display: flex;
  flex-wrap: wrap;
}
.product-detail .img {
  width: 60%;
  max-height: 600px;
  position: relative;
  overflow: hidden;
}
.product-detail img {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  visibility: hidden;
  max-width: 100% !important;
  max-height: 600px;
  overflow-x: hidden;
}
.product-detail .show {
  position: relative;
  visibility: visible;
}
.product-detail .panel {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #565353;
  color: white;
  min-height: 400px;
  justify-content: space-around;
}
.product-detail .panel a {
  text-decoration: none;
  color: white;
}
.product-detail .panel a:hover {
  color: #eee;
}
.product-detail .des {
  width: 100%;
}
.product-detail .des p {
  width: 100%;
  text-align: center;
}
.product-detail .cart a, .product-detail .cart form {
  font-size: x-large;
  text-decoration: none;
  color: white;
  padding: 15px 45px;
  background-color: #ff5a00;
  border-radius: 50px;
  border-width: 2px;
  border-color: black;
  box-shadow: 0 0 40px 2px #282a2d;
  font-weight: bolder;
}

.blogger {
  margin: 0;
  margin-top: 0;
}
.blogger .blog {
  background: #f8f8f8;
  margin: 2% 0;
}
.blogger .img {
  width: 30%;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.blogger img {
  width: 100%;
}
.blogger .info {
  position: relative;
  width: 60%;
}
.blogger h1 {
  width: 100%;
  text-align: center;
}
.blogger p {
  width: 100%;
  margin: 34px 0;
  padding-left: 28px;
}
.blogger a {
  display: inline-block;
  text-decoration: none;
  color: black;
  display: flex;
  position: relative;
  flex-direction: row;
}

table a {
  display: inline-block;
}
table td {
  width: 20%;
  position: relative;
}
table img {
  width: 100%;
}

.blogg-datail h1 {
  text-align: center;
  width: 100%;
  font-size: 4em;
}
.blogg-datail img {
  max-width: 100%;
  max-height: 540px;
  display: block;
  margin: 0 auto;
}
.blogg-datail .date {
  font-size: small;
}

.suctek {
  max-width: 700px;
  margin: auto;
  padding: 3em;
  margin: auto auto;
  color: white;
  z-index: 10;
  display: block;
  background-color: #0000008a;
  border-radius: 50px;
}
.suctek h1 {
  text-align: center;
}
.suctek a {
  text-align: center;
  width: 100%;
  text-decoration: underline;
  color: white;
  font-size: large;
  display: block;
}

.bilsi {
  max-width: 500px;
  height: 530px;
  overflow: hidden;
}
.bilsi img {
  width: 100%;
}

.cart .item {
  position: relative;
  display: flex;
  max-height: 300px;
  background-color: #f8f8f8;
  margin-bottom: 2em;
}
.cart .item a {
  z-index: 4;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.cart .item .img {
  max-width: 430px;
  max-height: 300px;
}
.cart .item img {
  max-width: 430px;
  max-height: 300px;
}
.cart .item .panel {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
.cart .item h2 {
  flex-basis: 100%;
  text-align: center;
}
.cart .item .tek {
  color: #f00;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 0;
}
.cart .item form {
  z-index: 6;
}
.cart .item form input[name="num"] {
  padding: 0;
  text-align: center;
  width: 50px;
}
.cart .item form input {
  z-index: 6;
  background: black;
  color: white;
  border: none;
  width: 8em;
  height: 2em;
  margin-bottom: 1em;
}
.cart .mob {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  display: none;
}
.cart .mob a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: white;
  background: #ff5a00;
  margin: auto 0;
  padding: 11px 0;
  border-radius: 8px;
}
.cart .mob a:hover {
  background: #ff5a00cf;
}
.cart .sum {
  background-color: #f8f8f8;
  text-align: right;
  padding: 1em 6em;
  display: flex;
  justify-content: space-between;
}
.cart .sum a {
  display: block;
  text-decoration: none;
  color: white;
  background: #ff5a00;
  margin: auto 0;
  padding: 11px;
  border-radius: 8px;
}
.cart .sum a:hover {
  background: #ff5a00cf;
}

#payment-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  height: 530px;
}
#payment-form input {
  margin-bottom: 1em;
}
#payment-form .divide {
  background-color: #565353;
  color: white;
  text-align: center;
  margin-bottom: 19px;
}
#payment-form .kort {
  display: flex;
  flex-direction: row;
}
#payment-form .kort #kort {
  width: 70%;
}
#payment-form .kort #kort input {
  width: 100%;
}
#payment-form .kort #cvc {
  margin-left: 1em;
}
#payment-form .dato {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
#payment-form .dato #mon {
  margin-right: 5px;
}
#payment-form .dato #aar {
  margin-left: 5px;
}

@media only screen and (max-width: 1000px) {
  #sosial {
    flex-direction: column !important;
  }
}
@media only screen and (max-width: 500px) {
  .dropdown {
    right: 0 !important;
    width: 100% !important;
  }

  .mob {
    display: block !important;
  }

  .bilsi {
    display: none;
  }

  .cart .item {
    flex-direction: column;
    max-height: 1000px !important;
  }
  .cart .item .img {
    max-height: 1000px !important;
    max-width: 100% !important;
  }
  .cart .item .img img {
    max-height: 1000px !important;
    max-width: 100% !important;
  }

  .sum {
    padding: 1em 1.5em !important;
  }

  .slide .side {
    width: 55% !important;
  }
  .slide .side h1 {
    font-size: 32px !important;
  }
  .slide .fade {
    width: 10%;
  }
  .slide .background {
    width: 50% !important;
  }

  main {
    width: 96%;
  }

  main .innsatte h1 {
    font-size: 60px;
  }

  main #blog .blog-container .blog {
    height: 140px;
  }
  main #blog .blog-container .blog p {
    width: 100%;
  }

  main .row .display {
    width: 100%;
    margin-right: 0;
  }
  main .row .display:nth-child(2n-1) {
    margin-right: 0;
  }

  .product-detail {
    margin-bottom: 3em;
  }
  .product-detail .img {
    width: 100%;
  }
  .product-detail .panel {
    flex-basis: 100%;
  }

  #slideshow .slide .side .a a {
    padding: 13px 15px;
  }

  #slideshow {
    height: 510px;
  }
  #slideshow .background {
    width: 45% !important;
    left: 55% !important;
  }
  #slideshow .fade {
    left: 46% !important;
    width: 26% !important;
  }
  #slideshow .slide {
    height: 440px;
  }
  #slideshow .arrow {
    position: absolute;
    top: 470px;
  }
}

/*# sourceMappingURL=main.css.map */
