{% extends 'base.html' %}
{% load static %}

{% block title %}
  Blogg |
{% endblock %}

{% block main %}
  <div class="blogger">
    {% for blogg in blogger %}
    <div class="blog">

    <a href="{{ blogg.get_absolute_url }}">
    <div class="img" {% if blogg.bilde %} style="background-image: url({{ blogg.bilde.url }});"{% endif %}>
      <!--<img src="{% if blogg.bilde %}{{ blogg.bilde.url }}{% endif %}" alt="blogg bilde">-->
    </div>
    <div class="info">
      <h1>{{ blogg.tittel }}</h1>
      <p>{{ blogg.ingress|safe }}</p>
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}

<!--<form action="{% url "cart:cart_add" product.id %}" method="post">
  {{ cart_product_form }}
  {% csrf_token %}
  <input type="submit" value="Add to cart">
</form>-->
