{% extends 'base.html' %}
{% load static %}

{% block title %}
  Handlekurv |
{% endblock %}

{% block main %}
  {% load carton_tags %}
  {% get_cart as cart %}

    {% if nok %}{% else %}<p class="tek" style="color: #f00;">Vi har ikke nok av en vare</p>{% endif %}

  {% if cart.items %}
  <div class="cart">
    <div class="mob">
      <a href="{% if nok %}{% url 'stripe:payment' %}{% endif %}">Betal</a>
    </div>
    {% endif %}

  {% for item in cart.items %}
  <div class="item">

        <a href="{{ item.product.get_absolute_url }}">
        </a>
        <div class="img">

          <img src="{% if item.product.image %}{{ item.product.image.url }}{% endif %}" alt="product bilde">
        </div>

      <div class="panel">

        <h2>{{ item.product.name }}</h2>
        <p>{{ item.price }} kr hver</p>
        <p>{{ item.quantity }} stk</p>
        <p>{{ item.subtotal }} kr</p>
        {% if item.product.stock >=  item.quantity  %}<p class="tek" style="color: #0f0;">Nok på lager</p>{% else %}<p class="tek" style="color: #f00;">Vi har kun {{item.product.stock}}</p>{% endif %}

        <form id="num" action="{% url 'home:remove_num' %}" method="get">
          {% csrf_token %}
          <input type="hidden" name="antall" value="{{ item.quantity }}">
          <input type="number" name="num" value="1">
          <input type="hidden" name="product_id" value="{{ item.product.id }}">
          <input type="submit" name="fjern" value="fjern">
        </form>

        <form id="for" action="{% url 'home:remove' %}" method="get">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ item.product.id }}">
          <input type="submit" name="fjern" value="fjern alle">
        </form>
      </div>
    </div>

  {% endfor %}
  <div class="sum">
    {% if cart.items %}
    <a href="{% if nok %}{% url 'stripe:payment' %}{% endif %}">Betal</a>
    {% endif %}

    <h4>Sum: {{ total }} kr</h4>

  </div>
  </div>

{% endblock %}
