{% extends 'base.html' %}
{% load static %}

{% block main %}
<form action="{{ form.action }}" method="{{ form.method }}">
    {{ form.as_p }}
    <p><input type="submit" value="Proceed" /></p>
</form>
{% endblock %}
