{% extends 'base.html' %}
{% load static %}

{% block title %}
  betaling |
{% endblock %}

{% block head %}
<style>
  main {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  }
</style>

{% endblock %}

{% block main %}

<form id="payment-form" action="" method="post">
  {% csrf_token %}

  <span class="payment-errors" style="color:red;"></span>

  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape|default_if_none:'' }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape|default_if_none:'' }}</strong>
        </div>
    {% endfor %}
{% endif %}

  Fornavn
  {{form.fornavn}}
  Etternavn
  {{form.etternavn}}
  Epost
  {{form.epost}}
  Addresse
  {{form.addresse}}
  Postnummer
  {{form.postnummer}}
  Poststed
  {{form.poststed}}
  {{form.token.as_hidden}}

  <div class="divide">
    <p>Kort</p>
  </div>

  <div class="kort">
    <div id="kort">
      Kort nummer <br>
      <input type="text"  placeholder="Kort nummer" data-stripe="number" maxlength="16" max="9999999999999999" required>

    </div>

    <div id="cvc">
      CVC <br>
      <input type="text"  placeholder="CVC" data-stripe="cvc" maxlength="3" max="999" required>

    </div>
  </div>

  <div class="dato">
    <div id="mon">
      Utløpsmåned
      <input type="number"  data-stripe="exp-month" placeholder="utløpsmåned(mm)" maxlength="2" max="99" required>
    </div>
    /
    <div id="aar">
      Utløpsår
      <input type="number"  data-stripe="exp-year" placeholder="utløpsår(yyyy)" maxlength="4" max="9999" required>

    </div>
  </div>

  <button type="submit">kjøp</button>
</form>

<div class="bilsi">

{% for item in cart.items %}
  <img src="{% if item.product.image %}{{ item.product.image.url }}{% endif %}" alt="product bilde">

{% endfor %}
</div>


{% endblock %}

{% block script %}
  <script src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="{% static 'stripe.js' %}"></script>
{% endblock %}
