{% extends 'base.html' %}
{% load static %}

{% block title %}
  Fullført |
{% endblock %}

{% block head %}
  <style>
  main {
    margin: 0;
    background-image: url(/static/img/glass.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    max-width: 100vw;
    background-position: center;
    max-height: 90vh;
  }
  </style>
{% endblock %}



{% block main %}


  <div class="suctek">
    <h1>Takk {{fornavn}} {{etternavn}},</h1>
    <h3>Bestillingen er mottatt og blir sendt til {{addresse}}, {{postnummer}} {{poststed}}</h3>

    <a href="{% url 'home:home_page' %}">Gå hjem</a>

  </div>
{% endblock %}
